# ── Telegram Bot API Server Credentials ─────────────────────────────────────
# Obtain your api_id and api_hash from https://my.telegram.org -> API development tools

TELEGRAM_API_ID=
TELEGRAM_API_HASH=

# Keep local mode enabled (removes the 50 MB upload and 20 MB download limit)
TELEGRAM_LOCAL=1
TELEGRAM_STAT=1
TELEGRAM_PORT=8081
